@import url(./other_styles/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "Roboto";
  font-weight: 400;
}

header {
  margin-bottom: 80px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.header__logo .header__logo-img {
  width: 120px;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__content .header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: all 0.3s ease;
}
.header__content .header__nav a {
  color: #3f3b3d;
}
.header__content .header__nav a:hover {
  color: #000000;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__btns .buy-template {
  padding: 14px 18px;
  border: none;
  background-color: #dddbda;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header__btns .buy-template:hover {
  background-color: rgba(45, 45, 45, 0.5647058824);
}
.header__btns .shop-logo {
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f8f9fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__btns .shop-logo:hover {
  background-color: #dddbda;
}

.primary-button {
  padding: 12px 26px;
  border: none;
  border-radius: 5px;
  background-color: #f14814;
  color: white;
  cursor: pointer;
}

.section-1 {
  margin-bottom: 120px;
}

.s1__content {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #3f3b3d;
}
.s1__content .s1__content-title {
  width: 30%;
  position: absolute;
  left: 65px;
  bottom: 65px;
}
.s1__content .s1__content-title h1 {
  color: white;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 30px;
}
.s1__content .s1__content-btns {
  display: flex;
  align-items: center;
  gap: 6px;
}
.s1__content .s1__content-btns .browse-btn {
  background-color: #3f3b3d;
}

.s1__carousel .swiper {
  position: absolute;
  right: 0;
  top: -15px;
  width: 50%;
  height: 120%;
}
.s1__carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1__carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s1__carousel .swiper-pagination-bullet {
  background-color: #252425;
  border-radius: 0;
}
.s1__carousel .swiper-pagination-bullet-active {
  background-color: #ffffff;
  border-radius: 0;
}

.s1__cards {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 32px;
}
.s1__cards .s1__card {
  width: 30%;
}
.s1__cards .s1__card img {
  display: block;
  margin: 0 auto;
}
.s1__cards .s1__card h2 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #3f3b3d;
  margin-bottom: 12px;
}
.s1__cards .s1__card p {
  font-size: 12px;
  text-align: center;
  color: #3f3b3d;
}

.section-2 {
  margin-bottom: 60px;
}
.section-2 .s2__cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}
.section-2 .s2__cards .s2__cards-item {
  position: relative;
  width: 32.3%;
  height: 400px;
  background-image: url(../assets/images/egg-image.png);
  background-size: cover;
  background-position: center;
  background-position: center;
}
.section-2 .s2__cards .s2__cards-item:hover {
  background-size: 110%;
}
.section-2 .s2__cards .s2__cards-item .s2__cards-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border-top: 1px solid rgba(63, 59, 61, 0.4274509804);
  padding-top: 10px;
}
.section-2 .s2__cards .s2__cards-item .s2__cards-item-title .egg {
  font-size: 12px;
  text-transform: uppercase;
  color: #3f3b3d;
}
.section-2 .s2__cards .s2__cards-item .s2__cards-item-title .s2-price {
  font-size: 12px;
  color: #3f3b3d;
}
.section-2 .s2__cards .bomb {
  background-image: url(../assets/images/bomb-img.png);
  background-size: cover;
  background-position: center;
}
.section-2 .s2__cards .pineapple {
  background-image: url(../assets/images/pineapple-img.png);
  background-size: cover;
  background-position: center;
}
.section-2 .s2__cards .s2__cards-item2 {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 49%;
  height: 450px;
  background-image: url(../assets/images/shop-all.png);
  background-size: cover;
  background-position: center;
}
.section-2 .s2__cards .s2__cards-item2:hover {
  background-size: 110%;
}
.section-2 .s2__cards .s2__cards-item2 .s2__cards-item-title2 {
  margin-bottom: 25px;
}
.section-2 .s2__cards .s2__cards-item2 .s2__cards-item-title2:first-child {
  color: white;
  font-size: 38px;
  text-align: center;
}
.section-2 .s2__cards .s2__cards-item2 .s2__cards-item-title2 .Explore {
  font-size: 14px;
}
.section-2 .s2__cards .browse-colc {
  background-image: url(../assets/images/browse-collection.png);
  background-size: cover;
  background-position: center;
}

.s3__content {
  padding: 0 124px;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 200px;
}

.s3__content-cards {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 60px;
}
.s3__content-cards .s3__content-cards-img {
  width: 48%;
}
.s3__content-cards .s3__content-cards-img img {
  width: 100%;
}
.s3__content-cards .s3__content-cards-content {
  width: 48%;
  height: 553px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #dceae9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.s3__content-cards .s3__content-cards-content .best-templates {
  text-align: center;
  padding: 0 64px;
  color: #3f3b3d;
  font-size: 24px;
  margin-bottom: 25px;
}
.s3__content-cards .s3__content-cards-content .trustpilot {
  font-size: 12px;
  color: #3f3b3d;
}

.s3__preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 120px;
}
.s3__preview .s3__preview-item {
  width: 24%;
}
.s3__preview .s3__preview-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}
.s3__preview .s3__preview-item p {
  color: #3f3b3d;
  text-align: center;
  font-size: 18px;
}

.section-4 .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.s4__content {
  position: relative;
  background-image: url(../assets/images/s4-img.png);
  background-size: cover;
  background-position: center;
  width: 48%;
  height: 650px;
}
.s4__content .s4__content-title {
  padding: 32px;
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 15px;
  background-color: white;
}
.s4__content .s4__content-title .data-text {
  text-align: center;
}
.s4__content .s4__content-title h2 {
  font-weight: 400;
  font-size: 28px;
  color: #3f3b3d;
  text-align: center;
}
.s4__content .s4__content-title .primary-text {
  text-align: center;
  margin-bottom: 10px;
}
.s4__content .s4__content-title a {
  display: block;
  font-weight: 700;
  color: #252425;
  text-align: center;
}

.data-text {
  color: #5d6e67;
  text-transform: uppercase;
}

.primary-text {
  color: #3f3b3d;
  font-size: 18px;
}

.section-4 {
  margin-bottom: 64px;
}

.s4__journal {
  width: 48%;
  height: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.s4__journal-title h2 {
  font-weight: 400;
  font-size: 52px;
  color: #3f3b3d;
  margin-bottom: 10px;
}
.s4__journal-title a {
  color: #3f3b3d;
}

.s4__journal-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.s4__journal-cards .s4__journal-card {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.s4__journal-cards .s4__journal-card img {
  width: 30%;
}
.s4__journal-cards .s4__journal-card .s4__journal-card-title .data-text {
  margin-bottom: 8px;
  font-size: 12px;
}
.s4__journal-cards .s4__journal-card .s4__journal-card-title .primary-text {
  margin-bottom: 10px;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */